<%- include("../styles/footer") %>

<p>
    <span id="copyright">Copyright © 2014 Antonio Villagra De La Cruz.</span> 
    <span id="license">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</span>
</p>
