<%- include("../styles/header") %>

<p>
    <a class="title" href="/"><img class="logo" src="/img/logo.png" alt="Logo">LET'S GO RTW!</a>
    <a class="contact" href="mailto:hello@letsgortw.eu">CONTACT</a>
    <a class="about" href="/about">ABOUT</a>
</p>
