<%- include("../styles/itinerary-info.ejs") %>

<div class="title-bar">
    <a href="javascript:history.back()">
        <img class="backarrow" src="/img/backarrow.png" alt="Back Arrow">
    </a>
    <span class="title"><%=itinerary.title%></span>
</div>
<div class="description"><p><%=itinerary.description%></p></div>
