<%- include("../styles/slideshow") %>

<div class="slideshow">
    <figure>
        <img src="/img/slideshow/zanzibar.jpg" />
    </figure>
    <figure>
        <img src="/img/slideshow/singapore.jpg" />
    </figure>
    <figure>
        <img src="/img/slideshow/torres_paine.jpg" />
    </figure>
    <figure>
        <img src="/img/slideshow/seattle.jpg" />
    </figure>
    <figure>
        <img src="/img/slideshow/budapest.jpg" />
    </figure>
    <figure>
        <img src="/img/slideshow/uluru.jpg" />
    </figure>
</div>
