<!doctype html>
<html>
    <head>
        <title>Let's Go RTW! | Find your way around the world!</title>

        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>
        <header>
            <%- include("components/header") %>
        </header>
        <main>
            <%- include("components/slideshow") %>
            <%- include("components/overlay", countries) %>
        </main>
        <footer>
            <%- include("components/footer") %>
        </footer>
    </body>
</html>
