html, body, ul, ol {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

body {
  overflow: hidden; }

#header {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 50px; }
  #header p {
    margin-top: 10px; }
  #header a {
    text-decoration: none;
    color: white; }
  #header .title {
    font-family: Verdana;
    font-size: 12px;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 16.5px; }
    #header .title .logo {
      height: 25px;
      padding-right: 5px; }
    #header .title .slogan {
      font-size: 8px;
      font-size: 1rem; }
  #header .about, #header .contact {
    font-size: 8px;
    font-size: 1rem;
    float: right;
    margin-top: 10px;
    margin-right: 5%; }

#content {
  position: absolute;
  top: 50px;
  width: 100%;
  height: -moz-calc(100% - 50px - 25px);
  height: -webkit-calc(100% - 50px - 25px);
  height: calc(100% - 50px - 25px); }

#footer {
  background-color: black;
  width: 100%;
  height: 25px;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  position: absolute; }
  #footer p {
    font-size: 6.5px;
    font-size: 0.8125rem;
    color: white;
    margin-right: 5%;
    margin-top: 5px;
    margin-left: 5%; }
    #footer p a {
      text-decoration: none;
      color: white;
      font-weight: bold; }
  #footer #license {
    float: right; }

#content {
  background: url("img/sos.png") repeat; }
  #content #results-text {
    text-align: center;
    margin-top: 2.5%;
    font-size: 12px;
    font-size: 1.5rem; }
    #content #results-text .blue {
      color: #1E90FF;
      font-weight: bold; }
  #content #search-again {
    text-align: center;
    margin-top: 2.5%;
    font-size: 8px;
    font-size: 1rem; }
    #content #search-again a {
      color: #1E90FF;
      text-decoration: none; }
  #content #results {
    margin-left: 5%;
    margin-top: 2.5%;
    max-height: 65%;
    overflow: auto;
    border-top: 1px solid black;
    width: 90%; }
    #content #results .rtw-preview {
      list-style-type: none;
      height: 100px;
      margin-top: 25px;
      border-bottom: 1px solid black;
      padding-bottom: 10px; }
      #content #results .rtw-preview img {
        margin-top: -5px;
        height: 100px;
        width: 70px; }
      #content #results .rtw-preview a {
        text-decoration: none;
        color: black; }
      #content #results .rtw-preview li {
        width: 100%;
        height: 100%; }
      #content #results .rtw-preview .res {
        padding-left: 15px; }
        #content #results .rtw-preview .res .res-title {
          font-size: 12px;
          font-size: 1.5rem;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 0px; }
        #content #results .rtw-preview .res .res-description {
          font-size: 9px;
          font-size: 1.125rem;
          margin-top: 10px; }
      #content #results .rtw-preview .goarrow {
        float: right; }
  #content #no-itineraries {
    text-align: center;
    margin-top: 15%;
    font-size: 14px;
    font-size: 1.75rem; }
  #content #search-again-no-it {
    text-align: center;
    margin-top: 5%;
    font-size: 14px;
    font-size: 1.75rem; }
    #content #search-again-no-it a {
      text-decoration: none; }
