{% extends "base.html" %}

{% load staticfiles %}

{% block slogan %}Find your way around the world!{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}

{% block content %}
	<div id="about">
		<h1>About</h1>
		<p><a href="{% url 'index' %}">Let's Go RTW!</a> allows you to find round-the-world itineraries departing from Europe filtered by budget, duration, and departing country and month.</p>
		<p>Everyone has dreamt about travelling around the world at one point, and building up a viable itinerary is one of the first challenges of any world traveller! The goal of <a href="{% url 'index' %}">Let's Go RTW!</a> is to display possible itineraries according to your constraints!</p>

		<h2 class="header2" onclick="showHide('how');">How does it work?</h2>
		<section id="how">
			<p>All the itineraries are hand-crafted using <a href="http://umap.openstreetmap.fr/">uMap</a>. The data used to create those itineraries come mainly from <a href="http://wikitravel.org/">WikiTravel</a>, <a href="https://www.google.fr/flights/">Google Flights</a>, <a href="http://www.rome2rio.com/">Rome2Rio</a> and <a href="http://www.seat61.com">Seat61</a>. The budget is an estimate based on the countries visited and the cost of transportation between cities.</p>
			<p>You are free to use, copy or clone any itinerary available on this website!</p> 
			<p>The itineraries haven't been tested in real life and are just displayed for inspiration. If you find any errors or you think of any improvements to an itinerary, please don't hesitate to send a mail to <a href="mailto:itineraries@letsgortw.eu">itineraries@letsgortw.eu</a>!</p>
		</section>

		<h2 class="header2" onclick="showHide('who');">The man behind this!</h2>
		<section id="who">
			<p><a href="{% url 'index' %}">Let's Go RTW!</a> was developed in a couple of weeks, right after Antonio came back from a 6-month world trip! Antonio loves planning trips and so he decided to create a little website where he could share itineraries with other travellers and hopefully inspire them to take the trip of their lifes!</p>
			<p>Antonio is quite a shy person and therefore he doesn't like to talk a lot about himself ... and talking in the third person really freaks him out, so if you want to know more about me don't hesitate to have a look at my <a href="https://twitter.com/AntonioVdlC">Twitter</a>, my <a href="https://www.linkedin.com/in/antoniovdlc/">LinkedIn</a> or my <a href="https://250rtw.blogspot.com/">world-tour blog</a>!</p>
		</section>

		<h2 class="header2" onclick="showHide('credits');">Credits</h2>
		<section id="credits">
			<p>Maps built using <a href="http://umap.openstreetmap.fr/">uMap</a>, based on <a href="http://www.openstreetmap.org/">OpenStreetMap</a>.</p>
			<p>Data mainly gathered from <a href="http://wikitravel.org/">WikiTravel</a>, <a href="https://www.google.fr/flights/">Google Flights</a>, <a href="http://www.rome2rio.com/">Rome2Rio</a> and <a href="http://www.seat61.com">Seat61</a>.</p>
			<p>Slideshow images taken from <a href="https://www.flickr.com/">Flickr</a> and <a href="http://www.stockvault.net/photo/">Stockvault</a>.</p>
			<p>Background motif from <a href="http://www.subtlepatterns.com/">Subtle Patterns</a>. </p>
			<p>Icons from <a href="http://www.iconsdb.com/">IconsDB</a> and <a href="http://www.prolyte.com/">Prolyte</a>.</p>
		</section>

	</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	function showHide (id) {
		if(document.getElementById(id).style.display == 'block')
			document.getElementById(id).style.display = 'none';
		else
			document.getElementById(id).style.display = 'block';
	}
</script>
{% endblock %}