{% extends "base.html" %}

{% load staticfiles %}

{% block slogan %}Find your way around the world!{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/detail.css' %}">{% endblock %}

{% block content %}
	<div id="title-bar">
		<a href="javascript:history.back()"><img class="backarrow" src="{% static 'css/img/backarrow.png' %}" alt="Back Arrow"></a>
		<span id="title">{{ rtw.title }}</span><!--<p id="budget">{{ rtw.budget }}€</p><p id="duration">{{ rtw.duration }} months</p>-->
	</div>
	<div id="description"><p>{{ rtw.description | safe }}</p></div>

	<div class="map-view">
		<iframe src="http://u.osmfr.org/m/{{ rtw.mapid }}/?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=false&datalayersControl=false&onLoadPanel=undefined#2/20.0/0.0" width="100%" height="500px"></iframe>
		<p id="map-link"><a href="http://u.osmfr.org/m/{{ rtw.mapid }}/">See the map fullscreen!</a></p> 
	</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}