@import 'master';

//------// -- DETAIL -- \\

#content{


	background: url("img/sos.png") repeat;
	overflow: auto;

	#title-bar{

		width: 90%;
		margin-top: 1.5%;
		margin-left: 5%;

		border-bottom: 1px solid black;
		padding-bottom: 10px;

		.backarrow{
			float: left;
			height: 2.25rem;
		}

		#title{
			@include font-size(18);
			font-weight: bold;
			margin-left: 2%;
		}

		#budget{
			margin-right: 2.5%;
			float: right;
			color: #1E90FF;
			font-weight: bold;
		}

		#duration{
			margin-right: 5%;
			float: right;
			color: #1E90FF;
			font-weight: bold;
		}
	}

	#description{
		width: 90%;
		margin-left: 5%;

		p{
			@include font-size(9);
			text-align: justify;
		}
	}

	.map-view{
		width: 90%;
		margin-left: 5%;
	}

	#map-link{
		text-align: center;

		a{
			text-decoration: none;
		}
	}
}